body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://e0.pxfuel.com/wallpapers/659/657/desktop-wallpaper-temperature-background-temperature.jpg');
    background-size: cover;
  }
  
  .container {
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  input, select {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .output-container {
    margin-top: 20px;
    font-size: 20px;
  }
  